body,html {
	height: 100%;
	background: #D3CCE3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'IBM Plex Sans';
}

#leftside{
	width: 70%;
	height: 100%;
	float: left;
	/*background-color: #232323;*/
	color: black;
	border-right: 2px solid black;
	text-align: center;
	padding-top: 5%;
}
#rightside {
	width: 30%;
	float: right;
	/*background-color: green;*/
	color: black;
	height: 100%;
	text-align: center;
	padding-top: 10%;


}
.login {
	width: 60%;
	margin: 0 auto;

}
.register{
	width: 40%;
	margin: 15px auto;
}
.container {
	padding-top: 5%;

}
.moveText {
	/*border: 1px white solid;*/
	/*margin: 200px;*/
	/*width: 170px;*/
	/*margin-left: 40%;*/
	/*display: inline;*/
}
#tester {
	margin: 0 auto;
	
}
#introPara {
	padding: 0 175px;
}
#retypepass {
	border: 2px solid blue;
	/*margin: 20px auto;*/
}
.container-fluid{
	width: 0;
	/*float: left;*/
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	font-size: 15px;
	height: 100%;
	position: fixed;
	overflow-x: hidden;
	padding-top: 20px;
}
.sidebar a {
	padding: 8px 8px 8px 20px;
	text-decoration: none;
	color: white;
	transition: 0.3s;
	font-size: 20px;

}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.browseInfo {
	border: 2px white solid;
}

.look {
	font-size: 15px;
	list-style-type: none;
	text-decoration: none;
	color: inherit;
}
.hide{
	display: none;
}
.poop {
	/*display: none;*/
	/*list-style-type: none;*/
}

.addme {
	color: red; 
	display: block;
}
/*#click1 {
	display: none;
	color: red;
}*/
.cateInfo {
	text-align: center;
	margin: 0 auto;
	width: 75%;
}